<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <!-- <form action="/login/validate" method="post"> -->
      <div>用户名： <input id="username" type="text"></div>
      <div>密码： <input type="password" id="password"></div>
      <div>年龄 <input type="number" id="age"></div>
      <!-- <div><button type="submit" id="login">登录--get</button></div> -->
    <!-- </form> -->
    <div><button id="register">注册</button></div>
  </div>
  <script>
    // let onlogin = document.querySelector('#login')
    let register = document.querySelector('#register')
    let username = document.querySelector('#username')
    let password = document.querySelector('#password')
    let age = document.querySelector('#age')
    register.onclick = () => {
      fetch(`/api/user/add`, {
        method: 'post',
        body: JSON.stringify({
          username: username.value,
          password: password.value,
          age: age.value
        }),
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(res => res.json())
      .then(res => {
        console.log('res', res)
      })
    }
  </script>
</body>
</html>