<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
  <script src="javascripts/axios.js"></script>

  <title>Document</title>
</head>
<body>
  <button id="exit">退出</button>
  <div>
      <div>用户名： <input id="username" type="text"></div>
      <div>密码： <input type="password" id="password"></div>
      <div>年龄 <input type="number" id="age"></div>
    <div><button type="button" id="register">新增用户</button></div>
    <hr>
    <div>
      <button type="button" id="update">更新</button>
      <button type="button" id="delete">删除</button>
    </div>

    <hr>
    <table border="1">
      <thead>
        <tr>
          <td>id</td>
          <td>用户名</td>
          <td>年龄</td>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
  <script src="/javascripts/index.js"></script>
</body>
</html>